<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="resetPasswordForm">
    <ion-item>
      <ion-input
              placeholder="Phone Number"
              formControlName="phone"
              clearInput="true">
      </ion-input>
    </ion-item>
    <div *ngIf="(resetPasswordForm.get('phone').dirty || resetPasswordForm.get('phone').touched) && resetPasswordForm.get('phone').errors" class="errors">
      <span *ngIf="resetPasswordForm.get('phone').errors.required">Phone number is required</span>
      <span *ngIf="resetPasswordForm.get('phone').errors.minlength || resetPasswordForm.get('phone').errors.maxlength">Phone needs to be between 10 - 12 characters</span>
    </div>
  </form>
  <ion-button (click)="reset()" expand="full" color="primary" [disabled]="!resetPasswordForm.valid" shape="round">Lanjutkan</ion-button>
</ion-content>
