.header {
  &__icon{
    font-size: 24px;
  }
}

.history{
  &__desc{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__total {
    display: flex;
    &-icon{
      font-size: 16px;
      margin-right: 8px;
      margin-top: 2px;
    }
  }
}