<ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start" routerLink="/home">
        <ion-icon class="header__icon" src='assets/icon/backButton.svg'></ion-icon>
      </ion-buttons>
      <ion-title class="ion-text-center">
          Wisea
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background">
  <ion-item-group class="body__container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle *ngFor="let product of employees">
          <pre>{{ product.nama }}</pre>
        </ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </ion-item-group>
</ion-content>
