<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input
              placeholder="Email address"
              formControlName="email"
              autofocus="true"
              clearInput="true">
      </ion-input>
    </ion-item>
    <div *ngIf="(credentialForm.get('email').dirty || credentialForm.get('email').touched) && credentialForm.get('email').errors" class="errors">
      <span *ngIf="credentialForm.get('email').errors?.required">Email is required</span>
      <span *ngIf="credentialForm.get('email').errors?.email">Email is invalid</span>
    </div>

    <ion-item>
      <ion-input
              placeholder="Password"
              type="password"
              formControlName="password"
              clearInput="true">
      </ion-input>
    </ion-item>
    <div *ngIf="(credentialForm.get('password').dirty || credentialForm.get('password').touched) && credentialForm.get('password').errors" class="errors">
      <span *ngIf="credentialForm.get('password').errors?.required">Password is required</span>
      <span *ngIf="credentialForm.get('password').errors?.minlength">Password needs to be 6 characters</span>
    </div>
  </form>

  <ion-button (click)="login()" expand="full" color="primary" shape="round" [disabled]="!credentialForm.valid">Login</ion-button>
  <ion-button routerLink="/reset-password" expand="full" color="secondary" shape="round">Lupa password?</ion-button>
  <ion-button routerLink="/register" expand="full" color="tertiary" shape="round">Register</ion-button>
</ion-content>
