<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" routerLink="../recommendation1">
            <ion-icon src='assets/icon/backButton.svg'></ion-icon>
        </ion-buttons>
        <ion-title class="ion-text-center">
            Wisea
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group id="container">
        <ion-item lines='none'>
            <ion-img src="assets/Recommendation/recommend2.svg"></ion-img>
        </ion-item>
        <ion-title size="large" class="ion-text-center title">Ditemani siapa nih? </ion-title>
        <ion-item lines='none'>
            <ion-label color="medium" class="ion-text-wrap">Sendiri atau bersama orang terkasih tetap akan menyenangkan kok..</ion-label>
        </ion-item>
        <ion-grid lines="none">
            <ion-row>
                <ion-col size="3" size-lg>
                    <ion-img src="assets/Recommendation/alone.svg" class="budgetImg" (click)="withInput($event, 'alone')"></ion-img>
                </ion-col>
                <ion-col size="3" size-lg>
                    <ion-img src="assets/Recommendation/couple.svg" class="budgetImg" (click)="withInput($event, 'couple')"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3" size-lg>
                    <ion-img src="assets/Recommendation/friend.svg" class="budgetImg" (click)="withInput($event, 'friend')"></ion-img>
                </ion-col>
                <ion-col size="3" size-lg>
                    <ion-img src="assets/Recommendation/family.svg" class="budgetImg" (click)="withInput($event, 'family')"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item-group>
</ion-content>