<ion-header [translucent]="true" class="ion-text-center">
    <ion-toolbar color="primary">
        <ion-title>
            Wisea
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button (click)="menuBar()"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background">
    <ion-item-group id="container">
        <ion-img src='assets/homePage/plane.svg' class="planeImg"></ion-img>
        <ion-item lines='none' class="ion-text-start userName">
            <ion-title color="primary" class="ion-no-margin">
                <p>Halo,</p>
                <strong>Mipanzuzu
                </strong>
            </ion-title>
        </ion-item>
        <ion-item lines='none'>
            <ion-img src="assets/homePage/home.svg"></ion-img>
        </ion-item>
        <ion-title size="large" class="ion-text-center title">#NgeBolang yukk!</ion-title>
        <ion-item lines='none'>
            <ion-label color="medium" class="ion-text-wrap">Seperti abang nasi goreng, kami siapkan hiburan spesial sesuai preferensi kamu!</ion-label>
        </ion-item>
        <ion-button expand="block" shape="round" routerLink="/recommendation1" class="btn">
            Mulai
        </ion-button>
    </ion-item-group>
</ion-content>