<ion-header>
  <ion-toolbar>
    <ion-title>explore-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>{{ (wisata | async)?.id }}</p>
  <p>{{ (wisata | async)?.deskripsi }}</p>
  <p>{{ (wisata | async)?.gambar }}</p>
  <p>{{ (wisata | async)?.harga }}</p>
  <p>{{ (wisata | async)?.jam }}</p>
  <p>{{ (wisata | async)?.kategori }}</p>
  <p>{{ (wisata | async)?.kota }}</p>
  <p>{{ (wisata | async)?.lokasi }}</p>
  <p>{{ (wisata | async)?.nama }}</p>
  <p>{{ (wisata | async)?.tanggal }}</p>
  <p>{{ (wisata | async)?.tiketTerjual }}</p>
  <p>{{ (wisata | async)?.tiketTersedia }}</p>
</ion-content>
