<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Wisea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background">
  <ion-searchbar placeholder="Cari wisata favoritmu" class="ion-padding"></ion-searchbar>
  <ion-list>
    <ion-item button lines="none" class="ion-margin" *ngFor="let wisata of (wisataList | async)" [routerLink]="['./explore-detail', wisata.id]">
      <ion-thumbnail slot="start">
        <ion-img [src]="(wisata.gambarUrl | async)"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h3>{{ wisata.nama }}</h3>
        <p>{{ wisata.harga | currency:'IDR':'symbol-narrow':'3.0' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
<!--  <ion-grid fixed>-->
<!--    <ion-row>-->
<!--      <ion-col size="6" *ngFor="let wisata of (wisataList | async)" [routerLink]="['./explore-detail', wisata.id]">-->
<!--        <ion-card>-->
<!--          <ion-img [src]="(wisata.gambarUrl | async)"></ion-img>-->
<!--          <ion-card-header>-->
<!--            <ion-text>{{ wisata.nama }}</ion-text>-->
<!--          </ion-card-header>-->
<!--          <ion-card-content>-->
<!--            <ion-label>-->
<!--              <p>{{ wisata.harga | currency:'IDR':'symbol-narrow':'3.0' }}</p>-->
<!--            </ion-label>-->
<!--          </ion-card-content>-->
<!--        </ion-card>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->
</ion-content>
